@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


        body {
            background-size: cover;
            background-image: url("./Bacground1.png");
            background-repeat: no-repeat;
            margin: 0;
            font-family: 'Roboto Mono', monospace;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    
        
        #serchFeild,
        #enter,
        #place,
        #temp,
        #skyies,
        #minTemp,
        #highTemp {
            text-align: center;
            margin-bottom: 0px; 
        }
    
        input[type=text],
        input[type=button] {
            font-family: 'Roboto Mono', monospace;
            margin-top: 5px; 
            background-color: thistle; opacity:0.6;
            color: black;
        }

        #temp {
            text-align: center;
            font-size: 40px;
        }

        ::placeholder {
            font-family: 'Roboto Mono', monospace;
            font-style: italic;
            font-size: 1em;
            color: mintcream;
            background: thistle;
            padding: 5px;
          }
